<menu>
  <resolutions>
    <resolution>
      <width>1024</width>
      <height>576</height>
    </resolution>
    <resolution>
      <width>1280</width>
      <height>720</height>
    </resolution>
    <resolution>
      <width>1366</width>
      <height>768</height>
    </resolution>
    <resolution>
      <width>1600</width>
      <height>900</height>
    </resolution>
    <resolution>
      <width>1920</width>
      <height>1080</height>
    </resolution>
  </resolutions>
  <title>
    <image>menu/title.png</image>
    <x>32</x>
    <y>0</y>
  </title>
  <main>
    <new_game>
      <x>920</x>
      <y>50</y>
      <image>menu/new_game.png</image>
      <image_hover>menu/new_game_hover.png</image_hover>
    </new_game>
    <load_game>
      <x>920</x>
      <y>150</y>
      <image>menu/load_game.png</image>
      <image_hover>menu/load_game_hover.png</image_hover>
    </load_game>
    <options>
      <x>920</x>
      <y>250</y>
      <image>menu/options.png</image>
      <image_hover>menu/options_hover.png</image_hover>
    </options>
    <quit>
      <x>920</x>
      <y>350</y>
      <image>menu/quit.png</image>
      <image_hover>menu/quit_hover.png</image_hover>
    </quit>
  </main>
  <options>
    <font>
      <name>Batang</name>
      <size>46</size>
    </font>
    <background>
      <image>menu/options_back.png</image>
      <x>16</x>
      <y>160</y>
    </background>
    <volume>
      <text>
        <text>Volume</text>
        <x>48</x>
        <y>180</y>
      </text>
      <slider>
        <background>menu/volume.png</background>
        <image>menu/slider.png</image>
        <x>48</x>
        <y>244</y>
      </slider>
      <percentage>
        <x>312</x>
        <y>238</y>
      </percentage>
    </volume>
    <resolution>
      <text>
        <x>48</x>
        <y>320</y>
      </text>
    </resolution>
    <apply>
      <image>menu/apply.png</image>
      <image_hover>menu/apply_hover.png</image_hover>
      <x>688</x>
      <y>584</y>
    </apply>
    <defaults>
      <image>menu/defaults.png</image>
      <image_hover>menu/defaults_hover.png</image_hover>
      <x>432</x>
      <y>584</y>
    </defaults>
  </options>
</menu>
